html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}
/* ====================Tipografía===========================*/
@font-face {
font-family:mb;
src: url(../fonts/Montserrat-Bold.otf);
}
@font-face {
font-family:msb;
src: url(../fonts/Montserrat-SemiBold.otf);
}
@font-face {
font-family:ml;
src: url(../fonts/Montserrat-Light.otf);
}
@font-face {
font-family:mr;
src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
    font-family:gb;
    src: url(../fonts/Gotham-Bold.otf);
}
@font-face {
    font-family:gm;
    src: url(../fonts/Gotham\ Medium.otf);
}

body{
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  
}
.logo-blanco{
    width: 200px;
    padding-top: 20px;
    position: relative;
    left: 30px;
}
.franjas1 {
    display: flex;   
    padding-left: 147px;   
    height:auto;
    width: 100%;
}
.franjas1 img{
    width: 411px;
}

.franjas2 {
    display: flex;   
    padding-left: 147px;   
    height:auto;
    width: 100%;
}
.franjas2 img{
    width: 256px;
}


.container{
   
    width: 90%;
    max-width: 100%;
}
.background-header{
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height:417px;
}

.background-header2{
    background-image: url(../img/header2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height:417px;
}



.instrucciones-form{
    color: #797e96;
    padding-left: 7%;
    padding-right: 7%;
    font-size: 24px;
    font-family:'msb', sans-serif;
    text-align: justify;
}

.instrucciones-form h4{
    margin-bottom: 0;
}

.instrucciones-form p{
    margin-top: 25px;
}
fieldset{
    border: none;
    margin: 0;
    padding: 0;
    padding-left: 7%;
}

label{
    color: #797E96;
    font-size: 24px;
    font-family:'msb', sans-serif;
    display: block;
    padding: 20px 0 10px 0;
}
.i-txt{
    padding-left: 3px;
    border: 1px solid #868686;
    border-radius: 9px;
    width: 84%;
    height: 35px;
}
   
.info-dec-prof{
    padding-right: 7%;
    width: 87%;
}
.info-dec-prof p{
    font-family:'ml', sans-serif;
    color: #868686;
    font-size: 21px;
}
.info-camp-obl {
    font-family: 'msb';
    color: #868686;
    font-size: 17px;
}
.info-contact h4{
    color: #797E96;
    font-size: 21px;
    font-family:'msb', sans-serif;
    display: block;
    padding: 5px 0 0 0;
    margin: 0;
}

.info-contact .info-pregunta{
    color: #11496F;
    font-size: 21px;
    font-family:'mb', sans-serif;
    display: block;
    padding: 12px 0 0 0;
    margin: 0;
} 

.info-contact label {
    padding: 0;
    font-family:'ml', sans-serif;
    font-size: 12px;
    display: block;
    padding-top: 10px;
}

.privacidad{
    padding-top: 20px;
}
.privacidad label {
    color: #7D2333;
    font-family:'msb', sans-serif;
    font-size: 15px;
}

.privacidad p {
    padding: 0;
    font-family:'ml', sans-serif;
    font-size: 14px;
    display: block;
}

.privacidad p a{
    color: #7D2333;
    font-family:'msb', sans-serif;
    font-size: 15px;
    text-decoration: none;
}
.btn-enviar {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
#enviar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #7D2333;
    color: #fff;
    width: 200px;
    height: 50px;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    font-family:'mr', sans-serif;
    border-radius: 10px;
}

footer .foot{
    background:#E8E9EA ;
    display: flex;
    flex-direction: row;
}
.informacion-foot{
    display: flex;
    flex-direction: column;
}
.informacion-foot p{
    color: #868686;
    font-family:'mr', sans-serif;
    font-size: 11px;
}
.pie-pagina{
    width: 100%;
    background-color: #E8E9EA;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 15px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .box a{
    color: #868686;
    font-family:'ml', sans-serif;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding-top: 6px;
}
a.derechos {
    padding-top: 20px !important;
}

.red-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #909090;
    text-align: center;
    border-radius: 10px;
    font-size: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pie-pagina .grupo-1 .red-social a:hover{
background-color: #7e2231;
}
.pie-pagina .grupo-1 .box h2{
    font-family:'ml', sans-serif;
    font-size: 11px;
    color: #868686;
    text-align: center;
}


/* ======================invitacion=================================*/
.welcome-box{
    display: flex;
    flex-direction: column;
    padding-left: 147px;
    justify-content: end;
    height: 251px;
}
.welcome-box .tit{
    color: #fff;
    font-family: 'sm', sans-serif;
    margin: 0;
    font-size: 31px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 1px;
}
.grx h2 {
    color: #FF0032;
    align-items: center;
    font-family: 'msb', sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 40px;
}
.grx h3 {
    color: #797E96;
    align-items: center;
    font-family: 'msb', sans-serif;
    text-align: center;
    font-size: 15px;
    margin:0;
    padding-top: 15px;
}
.link{
    background-color: yellow;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.link h4{
    font-family: 'mb', sans-serif;
    color: #11496F;
    font-size: 19px;
    text-align: center;
}
.btn{
    background-color: #fff;
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 2px 5px 11px 3px;
}
.btn a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'gb', sans-serif;
    color: #841E20;
    font-size: 20px;
}
.txt-hexagono{
    font-family: 'gm', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 48px;
}
.section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hexagon {
    position: relative;
    width: 300px; 
    height: 173.21px;
    background-color: #64C7CC;
    margin: 86.60px 0;
    margin-left: 10px;
  }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
  }
  
  .hexagon:before {
    bottom: 100%;
    border-bottom: 86.60px solid #64C7CC;
  }
  
  .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 86.60px solid #64C7CC;
  }


/* ======================Media Query Movil=================================*/
@media screen and (max-width:800px){
    .info-dec-prof {
        padding-right: 0%;
        width: 100%;
    }
    .instrucciones-form {
        color: #797e96;
        padding-left: 7%;
        padding-right: 7%;
        font-size: 17px;
        font-family: 'msb', sans-serif;
        text-align: justify;
    }
    .info-dec-prof p {
        font-family: 'ml', sans-serif;
        color: #868686;
        font-size: 16px;
        text-align: justify;
        padding-top: 7px;
    }
    label {
        color: #797E96;
        font-size: 21px;
        font-family: 'msb', sans-serif;
        display: block;
        padding: 20px 0 10px 0;
    }
    .info-contact .info-pregunta {
        color: #11496F;
        font-size: 19px;
        font-family: 'mb', sans-serif;
        display: block;
        padding: 12px 0 0 0;
        margin: 0;
        padding-top: 24px;
    }
    .info-contact h4 {
        color: #797E96;
        font-size: 17px;
        font-family: 'msb', sans-serif;
        display: block;
        padding: 5px 0 0 0;
        margin: 0;
    }
    .i-txt {
    padding-left: 3px;
    border: 1px solid #868686;
    border-radius: 9px;
    width: 100%;
    height: 31px;
    }
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    .pie-pagina .grupo-1 .box a {
        color: #868686;
        font-family: 'ml', sans-serif;
        font-size: 11px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pie-pagina .grupo-1 .red-social a{
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: #fff;
        margin-right: 10px;
        background-color: #909090;
        text-align: center;
        border-radius: 10px;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .pie-pagina .grupo-1 .box figure {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .welcome-box {
        display: flex;
        flex-direction: column;
        padding-left: 52px;
        justify-content: end;
        height: 251px;
    }
    .welcome-box .tit {
        color: #fff;
        font-family: 'sm', sans-serif;
        margin: 0;
        font-size: 22px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 1px;
    }
    .franjas1 {
        display: flex;   
        padding-left: 50px;   
        height:auto;
        width: 100%;
    }
    .franjas1 img {
        width: 308px;
    }
    .franjas2 {
        display: flex;   
        padding-left: 50px;   
        height:auto;
        width: 100%;
    }
    .franjas2 img {
        width: 200px;
    }
}